body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

canvas {
  position: absolute;
}

.ctn {
  position: relative;
  width: 360px;
  height: 640px;
}

#scoreboard {
  position: absolute;
  top: 540px;
  width: 360px;
  text-align: center;
  font-size: 50px;
  color: #333333;
}

#start-screen {
  position: absolute;
  top: 20px;
}

#gameover-screen {
  visibility: hidden;
  position: absolute;
  width: 360px;
  height: 640px;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}

#gameover {
  width: 280px;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 40px;
  letter-spacing: 4px;
  margin: auto;
  margin-top: 200px;
}

#replay {
  width: 100px;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 1s;
  margin: 100px auto;
}

#replay:hover {
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

#ctrl-ctn {
  position: absolute;
  top: 300px;
  left: 80px;
  opacity: 1;
  transition: opacity 1s;
}

.ctrl-btn {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 8px 16px;
  margin: 10px;
}

/* con esto reiniciamos las caracteristicas de origen de CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* FONDO!!! */
body{
  background-image: url(fondos/intentofondo.png);
  background-size:100%;
  
  
}



/* aki modifico las cards */
.txtcard{
text-decoration: none;
}

.cardcontenedor{
padding-top: 40px;
margin: 25px;
}

.navtext span{
font-size: 20px;
}

/* aki creo clases para el carrusel y sus propiedades */
.c-slide{
background-color: rgba(37, 43, 41, 0.34);
padding: 30px;

}

.img-slide{
height: 100%;
object-fit: cover;
}


/* full footer ultra ZZZZ*/

footer{

bottom: 0;
left: 0;
right: 0;
background: #111;
height: auto;
width: 100%;
font-family: "Open Sans";
padding-top: 40px;
color: #fff;
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{
font-size: 35px;
font-weight: 500;
line-height: 3rem;
}
.footer-content p{
max-width: 500px;
margin: 10px ;
line-height: 28px;
font-size: 14px;
}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;
}
.socials li{
margin: 0 10px;
}
.socials a{
text-decoration: none;
color: #fff;
}
.socials a i{
font-size: 1.1rem;
transition: color .4s ease;

}
.socials a:hover i{
color: aqua;
}

.footer-bottom{
background: rgba(37, 43, 41, 0.34);
width: 100%;
padding: 10px 0;
text-align: center;
}

.footer-bottom p {
opacity: 0.4;
}

.footer-bottom p span{
font-size: 14px;
word-spacing: 2px;
text-transform:uppercase;

}



